/* google-font-style */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.container{
    background-color: black;
    display: flex;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    padding: 10px;
}

.header-info h1{
    color: white;
}
.header-info p{
    color: aqua;

    padding-bottom: 50px;
}

.header-link{
    padding: 10px 40px;
    background-image: linear-gradient(red,orange);
    font-weight: 700;
    border-radius: 5px;
    width: 120px;
}

.fa-greater-than.icon{
    color: white;
    width: 20px;
    margin-left: 5px;
}
.link{
    text-decoration: none;
   
    color: white;
}
.link:hover{
    color: black;
}
.banner-img{
    padding-left: 20px;
}
.other-link-container{
    background-color: black;
    width: 200px;
    height: 250px;
    padding-top: 10px;
    display: flex;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
}
.other-link{
 display: grid;
 grid-template-rows: repeat(3, 1fr);
}
.other-link a{
    text-decoration: none;
    padding: 10px 40px;
    background-color:white ;
    color: black;
    margin: 15px;
    font-weight: 500;
    border-radius: 5px;
}
#blog{
    background-color: red;
    color: white;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 15px;
}
.content-blog{
   border: 1px solid rgb(228, 226, 226);
   border-radius: 10px;
   
}
.content-duration{
    display: flex;
    padding: 0 5px 10px 10px;
}
.fa-message.gap{
    padding-left: 25px;
}
.details-blog{
    padding: 0 5px 10px 10px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
   margin-top: 600px;
   height: 200px;
   padding: 150px 100px 100px 100px;
}
.footer p{
   display: inline;
   margin-left: 45px;
}
.contact{
    padding-top: 50px;
    padding-bottom: 30px;
}
.social-link{
    font-size: 30px;
    margin-left: 15px;
}
@media only screen and (max-width:688px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        height: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:688px) and (max-width :992px) {

     .other-link-container{
      
     width: 100%;
     height: 100px;
       
    }
    .other-link{
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .article > .content{
        display: block;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 100px;
        margin-right: 500px;
        
    }
    
}


